.contact__wrapper {
    margin-top: 10%;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}

.contact__description {
    width: 40rem;
    flex-basis: 30rem;
    align-self: end;
}

.contact__description h1 {
    font-size: var(--step-3);
    text-align: center;
    margin-bottom: 1rem;
}

.contact__description p {
    font-size: var(--step--1);
    text-align: justify;
}

.contact__form {
    margin-inline: 5%;
    width: 70%;
    box-sizing: border-box;
}

.contact__form h1 {
    text-align: center;
    border-bottom: 1px solid var(--text);
}

.contact__form h3 {
    margin: 0.5rem 0;
}

.contact__form input, .textarea {
    width: 30vw;
    min-width: 100%;
    background-color: var(--secondary);
    border: none;
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-size: var(--step--3);
}

.contact__form input::placeholder, .textarea::placeholder {
    color: var(--text)
}

.contact__form .textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
    max-width: 30vw;
    min-width: 100%;
    min-height: 40px;
    line-height: 20px;
}

strong {
    color: rgb(231, 114, 114);
}

.contact__form button {
    background-color: var(--secondary);
    border: 2px var(--text) solid;
    font-size: var(--step--2);
    border-radius: 10px;
    cursor: pointer;
    margin-inline: auto;
    display: block;
    margin-bottom: 1rem;
}

.contact__form button:hover {
    color: var(--primary);
    background-color: var(--text);
}

@media (min-width: 1024px) {
    .contact__form {
        width: 30vw;
    }
}

@media (min-width: 425px) {
    .contact__form {
        width: 80%;
    }
}