
.homeMenu {
    margin-top: 10%;
}

.homeMenu__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.homeMenu__image {
    width: 33%;
    padding: 0.5rem;
    border: 3px var(--text) solid;
    border-radius: 5%;
    /* margin-inline: 5%; */

}

.homeMenu__nav {
    width: 40%;
    padding: 2rem;
    /* border: 2px white solid; */
}

.homeMenu__router {
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
    width: auto;
}

.homeMenu__router li {
    width: 100%;
    list-style: none;
    border: 2px var(--text) solid;
    text-align: center;
    padding: 0.5rem 0;
    background: linear-gradient(var(--secondary), var(--tertiary));
    border-radius: 1rem;
    transition: 0.5s;
}

.homeMenu__router li:hover {
    scale: 1.2;
    /* background: linear-gradient(var(--tertiary), var(--text)); */
    border: 2px var(--secondary) solid;
}

.homeMenu__router li a {
    display: block;
    text-decoration: none;
    font-size: var(--step-3);
    font-family: 'Raleway';
    font-weight: bold;
    
}

.homeMenu__router li a:hover {
    /* color: var(--primary); */
}

@media (max-width: 1024px) {
    .homeMenu__wrapper {
        margin-top: 7rem;
    }
    .homeMenu__image {
        width: 38vw;
        height: auto;
        align-self: center;
    }
}

@media (max-width: 768px) {
    .homeMenu__wrapper {
        margin-top: 7rem;
    }
    
    .homeMenu__nav {
        margin: 0;
        padding-inline: 0;
        height: 50vh;
        width: 40vh;
    }

    .homeMenu__image {
        width: 50vw;
        height: auto;
        align-self: center;
    }
}

@media (max-width: 425px) {
    .homeMenu__wrapper {
        margin-top: 4rem;
    }
    .homeMenu__image {
        width: auto;
        height: 40vh;
    }
    .homeMenu__nav{
        height: 100%;
        width: 60%;
        margin-top: 1.5rem;
        padding: 0;
    }
    .homeMenu__router {
        gap: 2rem;
    }
}