
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0 5%;
  font-family: "Poppins";
  background-color: var(--primary);
}

* {
  color: var(--text);
  margin: 0;
  /* overflow-y: hidden; */
}


/* header */
header {
  position: fixed;
  top: 0;
  width: 80vw;
  padding: 1% 5%;
  z-index: 1; 
}

header nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header nav a{
  font-size: var(--step-1);
  text-decoration: none;
  width: 8.5rem;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 80vw;
  padding: 1% 5%;
  z-index: 1; 
}

footer nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

footer nav a {
  font-size: var(--step-0);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}